/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$link-color: #5d6d74;
$hover-color: lighten($link-color, 40%);



/* scss: rules */
$navbar-bg: #0D530E


// Tables
.table {
  font-family: $font-family-serif;
}

a{
  color: $link-color;
  text-decoration: none;
  
  &:hover{
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }
  
}

.maintitle {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}

.mainpage {
  width: 80%;
}

.center {
  text-align: center;
}

.table {
  font-size: 1.0em;
}

h1, h2, h3 {
  color: #306D29;
}